@import "tailwindcss";
@import "./base.css";

#app {
  font-weight: normal;
}

html {
  background: #fafafa;
  color: #1a1a1a;
  transition:
    background 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

html.dark {
  background: #1a1a1a;
  color: #cccccc;
}

.card {
  transition: background 0.2s ease-in-out;
  background: #f3f4f6;
}

html.dark .card {
  background: #2a2a2a;
}

h1 {
  font-weight: bold;
}
h1 span {
  font-weight: bold;
}

html h1 {
  color: #4a4a4a;
}

html.dark h1 {
  color: #cccccc;
}

html .code-parser {
  background: #2a2a2a;
}

html.dark .code-parser {
  background: #1f1f1f;
}

html h2 {
  background: linear-gradient(to right, #cccccc, transparent);
  padding: 6px 12px;
  margin-bottom: 12px;
  border-radius: 20px;
}

html.dark h2 {
  background: linear-gradient(to right, #ffffff20, transparent);
}
