@import "tailwindcss";
@import './base.css';

#app {
  font-weight: normal;
}

html {
  background: radial-gradient(at bottom right, #FAFAFA, #E1E5E8);
  color: #1A1A1A;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

html.dark {
  background: #1A1A1A;
  color: #CCCCCC;
}

.card {
  transition: background 0.2s ease-in-out;
  background: #F3F4F6;
}

html.dark .card {
  background: #2A2A2A;
}

h1 {
  font-weight: bold;
}
h1 span {
  font-weight: bold;
}

html h1 {
  color: #4A4A4A;
}

html.dark h1 {
  color: #CCCCCC;
}

html .code-parser {
  background: #2A2A2A;
}

html.dark .code-parser {
  background: #1f1f1f;
}

html h2 {
  background: linear-gradient(to right, #CCCCCC, transparent);
  padding: 6px 12px;
  margin-bottom: 12px;
  border-radius: 20px;
}

html.dark h2 {
  background: linear-gradient(to right, #FFFFFF20, transparent);
}